/* prettier-ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: 'Montserrat', serif;
}

html, body {
  background-color: #000000;
  color: #ffffff;
}


.custom-shape-divider-bottom-1735504369 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1735504369 svg {
  position: relative;
  display: block;
  width: calc(268% + 1.3px);
  height: 100%;
}

.custom-shape-divider-bottom-1735504369 .shape-fill {
  fill: #FFFFFF;
}
